.boxResults {
    border: 3px solid #DADADA;
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 9px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 768px) {
    .boxResults { 
        margin-bottom: 20px;
    }
}

.boxResults h3 {
    font-size: 17px;
    margin: 0;
}

.boxResults .green {
    color: #5dae5f;
    font-weight: bold;
}