.button {
    background-color: #EFEFEF;
    border: solid 2px #838383;
    border-radius: 10px;
    height: 50px;
    width: 220px;
    outline: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
}

.button:active {
    background-color: #DADADA;
}

.button.orange {
    background-color: #ED8E53;
    border: none;
}

.button:active.orange {
    background-color: #ED8E53cc;
}

.button:disabled.orange {
    background-color: #969696;
}