.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aporte {
    width: 40px;
    background-color: #ED8E53;
}  

.noAporte {
    width: 40px;
    background-color: black;
    margin-top: 2px;
}