.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.column span {
    color: #333;
    margin: 10px 0px;
}

.input.red span{
    color: red;
}

.input input {
    background-color: #EFEFEF;
    color: #333;
    outline: 0;
    border-width: 0 0 2px;
    margin: 10px 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.input.red input{
    border-color: red;
}

.warning {
    font-size: 12px;
    visibility: hidden;
}

.warning.visible {
    visibility: visible;
}